/* ANDRADE
    N315 FALL 2022
    ASSIGNMENT 3 
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "helvetica";
}

@font-face {
  font-family: "helvetica";
  src: url(../assets/fonts/HelveticaNeueLTStd-Md.otf);
}
#app {
  min-height: 100%;
}

nav {
  height: 3%;
  background-color: rgb(250, 50, 36);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 100px;
  min-width: 100%;
}

@media screen and (min-width: 1025px) {
  .navLinks {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
  }
}
@media screen and (max-width: 1024px) {
  .navLinks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  .navLinks {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
  }
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "helvetica";
}

.navAccent {
  min-height: 2%;
  width: 100%;
  background-color: yellow;
}

.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.logo-section .logo {
  max-width: 35%;
}

.userLinks {
  display: flex;
  justify-content: flex-end;
}

.userLinks a {
  color: rgb(0, 0, 0);
  padding: 10px;
}

.homeHead {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.arrivalsHeadtxt {
  text-align: center;
}

.newArrivals {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.newItem {
  position: relative;
}

img {
  width: 400px;
  margin: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #000;
}

.newItem:hover .overlay {
  opacity: 50%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.prodHead {
  text-align: center;
}

.productSec {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.prodHolder {
  min-width: 200px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.prodHolder img {
  max-width: 90%;
}

/* NEWS STYLING  */
.newHeadtxt {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.newsContainer {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media screen and (min-width: 1025px) {
  div.newsText {
    max-width: 50%;
    font-size: 22px;
  }
  .newsImage {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 90%;
    min-height: 100%;
  }
  .newsImage img {
    width: 48%;
  }
  .newsImage img {
    max-width: 630px;
  }
}
@media screen and (max-width: 1024px) {
  div.newsText {
    max-width: 70%;
    font-size: 22px;
  }
  .newsImage {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 90%;
    min-height: 100%;
    margin-bottom: 180px;
  }
  .newsImage img {
    min-width: 40%;
  }
}
@media screen and (max-width: 600px) {
  div.newsText {
    width: 100%;
    font-size: 18px;
  }
  .newsImage {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 90%;
    margin-bottom: 80px;
  }
  .newsImageTall {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 80px;
  }
  img {
    min-width: 300px;
  }
}
@media screen and (min-width: 1025px) {
  .aboutContainer {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .rightContent {
    width: 45%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .rightContent h1 {
    font-size: 50px;
    width: 100%;
  }
  .rightContent img {
    width: fit-content;
  }
}
@media screen and (max-width: 1024px) {
  .aboutContainer {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .rightContent {
    width: 60%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .rightContent h1 {
    font-size: 30px;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .aboutContainer {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .rightContent {
    width: 80%;
    background-color: pink;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .rightContent h1 {
    font-size: 30px;
    width: 100%;
  }
}
@media screen and (min-width: 1025px) {
  .itemContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .itemContainer .leftContent {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 20%;
    min-height: 100%;
  }
  .itemContainer .leftContent img {
    width: max-content;
  }
  .itemContainer .rightContent {
    height: 350px;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 20px;
  }
  .itemContainer .rightContent span {
    height: 20px;
    background-color: rgb(255, 255, 255);
    color: aliceblue;
  }
  .itemContainer .rightContent ul {
    list-style-type: none;
  }
}
@media screen and (max-width: 1024px) {
  .itemContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    max-height: 100%;
  }
  .itemContainer .leftContent {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100%;
  }
  .itemContainer .leftContent img {
    min-width: 400px;
  }
  .itemContainer .rightContent {
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .itemContainer .rightContent span {
    height: 20px;
    background-color: rgb(255, 255, 255);
    color: aliceblue;
  }
  .itemContainer .rightContent ul {
    list-style-type: none;
  }
}
footer {
  height: 10%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  color: #fff;
  margin-top: 100px;
}

.footLinks {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 20%;
  text-align: center;
  font-size: 10px;
}

.footLinks a {
  color: #fff;
  font-family: "helvetica";
  padding-right: 4em;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  animation-name: launch;
  animation-duration: 4s;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "helvetica";
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "helvetica";
  text-transform: uppercase;
  outline: 0;
  background: rgb(250, 50, 36);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
  background: #FF5415;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 16px;
}

.form .message a {
  color: #1410ee;
  text-decoration: none;
}

.form .login-form {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

.container .info span a {
  color: #000000;
  text-decoration: none;
}

.container .info span .fa {
  color: #ffffff;
}

body {
  background: #ffffff;
}

@media only screen and (max-width: 400px) {
  .login-page {
    width: 100%;
    height: 100%;
  }
}
#create-username.error {
  color: red;
}

#create-password.error {
  color: red;
}

#create-email.error {
  color: red;
}

/*# sourceMappingURL=styles.css.map */
