.prodHead {
    text-align: center;
}
.productSec {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


    
}

.prodHolder{
    min-width: 200px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    

    img {
        max-width: 90%;
    }
}